title: Kit de Campagne Numérique pour Insoumis·e
url: "/kitcampagne.fi"


# Build settings
permalink: /:title/
markdown: kramdown
theme: minima
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
sass:
  sass_dir: _sass
  style: compressed
autoprefixer:
  browsers:
  - last 2 versions
