---
layout: default
creator: necropotame
wrapClass: 'home'
contentdescription:
---
<header class="home-header">
  <h1 class="home-title">
    <img src="/assets/images/kcn-logo.svg" alt="Kit de Campagne Numérique pour Insoumis·e" />
  </h1>
  <p class="home-desc">Outils, aides et conseils sur la communication numérique pour les législatives de 2017</p>
</header>
{% for c in site.collections %}
  {% if c.label != 'posts' %}
    <div class="home-category">
      <h2 class="home-category-title">{{c.title}}</h2>
      <ul class="home-nav" role="navigation">
        {% for p in c.docs %}
          <li>
            <a class="home-nav-link" href="{{ p.url }}">
              <div class="home-nav-link-icon"><img src="/assets/images/icons/{{p.icon}}" alt="" /></div>
              {{p.title}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}

