---
layout: default
creator: necropotame
wrapClass: 'home'
contentdescription:
---
<header class="home-header">
  <h1 class="home-title">
    <img src="/assets/images/kcn-logo.svg" alt="Kit de Campagne Numérique pour Insoumis·e" />
  </h1>
  <p class="home-desc">Outils, aides et conseils sur la communication numérique pour les législatives de 2017</p>
</header>
{% for c in site.collections %}
  {% if c.label != 'posts' %}
    <div class="home-category">
      <h2 class="home-category-title">{{c.title}}</h2>
      <ul class="home-nav" role="navigation">
	{% assign sortedPages = c.docs | sort: 'sortinglabel' %}
        {% for p in sortedPages %}
        {% if p.status != 'hidden' %}
          <li>
            <a class="home-nav-link" href="{{ p.url }}">
              <span class="home-nav-link-icon"><img src="/assets/images/icons/{{p.icon}}" alt="" /></span>
              <span class="home-nav-link-label">{{p.title}}</span>
            </a>
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}
