---
layout: tool
title: Générer une photo de profil
creator: necropotame
contentdescription:
icon: profil-photo.svg
sortinglabel: tool
footerScript:
- "https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"
- "/assets/js/imageBuilder.js"
- "/assets/js/avatarBuilder.js"
stylesheet:
- "https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css"
---

<div class="tool-step">
  <h2 class="tool-step-title">Importer une photo</h2>
  <div class="dropzone preview"></div>
</div>

<div class="tool-step">
  <h2 class="tool-step-title">Choisir le style</h2>

  <ul class="chooseTemplate">
    <li>
      <label class="chooseTemplate-item preview" for="template-rw">
        <input id="template-rw" name="template" type="radio" value="template-rw-svg" />
        {% include template-avatar.svg id="template-rw-svg" colorFi='#c94e34' colorSquare='#fff' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-rb">
        <input id="template-rb" name="template" type="radio" value="template-rb-svg" />
        {% include template-avatar.svg id="template-rb-svg" colorFi='#c94e34' colorSquare='#0098b6' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-bw">
        <input id="template-bw" name="template" type="radio" value="template-bw-svg"/>
        {% include template-avatar.svg id="template-bw-svg" colorFi='#0098b6' colorSquare='#fff' %}
      </label>
    </li>
  </ul>

  <div class="tool-step">
    <h2 class="tool-step-title">Télécharger la photo de profil</h2>

    <canvas id="render" class="render" width="512" height="512"></canvas>

    <a class="tool-submit" id="download" href="#" download aria-disabled="true">Télécharger votre image de profile insoumise</a>
  </div>
</div>
