---
layout: tool
title: Générer une photo de profil
contentdescription:
icon: profil-photo.svg
sortinglabel: tool
footerScript:
- "https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"
- "/assets/js/imageBuilder.js"
- "/assets/js/avatarBuilder.js"
stylesheet:
- "https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css"
---

<div class="tool-step">
  <h2 class="tool-step-title">Importer une photo</h2>
  <div class="dropzone preview"></div>
</div>

<div class="tool-step">
  <h2 class="tool-step-title">Choisir le style</h2>

  <ul class="chooseTemplate">
    <li>
      <label class="chooseTemplate-item preview" for="template-phi-rw">
        <input id="template-phi-rw" name="template" type="radio" value="template-phi-rw-svg" checked />
        {% include template-avatar-phi.svg id="template-phi-rw-svg" colorFi='#c94e34' colorSquare='#fff' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-phi-rb">
        <input id="template-phi-rb" name="template" type="radio" value="template-phi-rb-svg" />
        {% include template-avatar-phi.svg id="template-phi-rb-svg" colorFi='#c94e34' colorSquare='#0098b6' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-phi-br">
        <input id="template-phi-br" name="template" type="radio" value="template-phi-br-svg"/>
        {% include template-avatar-phi.svg id="template-phi-br-svg" colorFi='#0098b6' colorSquare='#c94e34' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-phi-bw">
        <input id="template-phi-bw" name="template" type="radio" value="template-phi-bw-svg"/>
        {% include template-avatar-phi.svg id="template-phi-bw-svg" colorFi='#0098b6' colorSquare='#fff' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-legi-wbr">
        <input id="template-legi-wbr" name="template" type="radio" value="template-legi-wbr-svg"/>
        {% include template-avatar-legi.svg id="template-legi-wbr-svg" colorFi='#c94e34' colorText='#0098b6' colorBackground='#fff' %}
      </label>
    </li>
    <li>
      <label class="chooseTemplate-item preview" for="template-legi-wrb">
        <input id="template-legi-wrb" name="template" type="radio" value="template-legi-wrb-svg"/>
        {% include template-avatar-legi.svg id="template-legi-wrb-svg" colorFi='#0098b6' colorText='#c94e34' colorBackground='#fff' %}
      </label>
    </li>
  </ul>
</div>
<div id="debug"></div>
<div class="tool-step">
  <h2 class="tool-step-title">Télécharger la photo de profil</h2>

  <canvas id="render" class="render" width="512" height="512"></canvas>

  <a class="tool-submit" id="download" href="#main" download aria-disabled="true">Télécharger votre image de profile insoumise</a>
</div>
