---
---

// variables
@import 'variable/color';
@import 'variable/font';

// base and init
@import 'base/fontface';
@import 'base/box-sizing';
@import 'base/body';
@import 'base/typo';

// UI element
@import 'element/loader';

// UI component
@import 'component/nav';

// TODO: cut it in partials


.wrap {
	max-width: 40rem;
	margin: 0 auto;
	padding: 1.5rem;
	background-color: $color-white;
  color: $color-text;

  &-home {
	  background-color: $color-corail;
    color: $color-white;
  }
}

.logo-desc {
  display: block;
  text-align: center;
}

.index-category {
  margin: 3rem 0 1.5rem;
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
  line-height: 1.2em;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ffffff;
}

.navicons {
  padding: 0;
  margin: 0;
  text-align: center;

  > li {
    display: inline-block;
    vertical-align: top;
  }
}

.page-icon {
  text-align: center;
  max-width: 10rem;
  display: block;
  margin: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-size: .7em;
  line-height: 1.5em;

  &:visited,
  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  > .icon {
    background-color: $color-white;
    border-radius: 5px;
    width: 160px;
    line-height: 160px;
    box-shadow: 0px 6px 0px #bbbbbb;
    margin: 0 auto 1em;

    > img {
      display: inline-block;
      max-height: 100px;
      max-width: 100px;
      vertical-align: middle;
    }
  }
}

.tuto {
  max-width: 30em;
  margin: 0 auto;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #000000;
  }
}

.tool {
  counter-reset: tool-step;

  &-header {
    display: block;
    text-align: center;
  }

  &-step {
    counter-increment: tool-step;

    &-title {
      &:before {
        content: counter(tool-step);
        color: $color-corail;
        display: inline-block;
        font-weight: bold;
        margin-right: .5em;
      }
    }
  }
}


#index-logo-frame {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
}

#index-logo {
  max-width: 400px;
  display: block;
}

ul.inline {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;

  .modeles {
    background: #ccc;
    width: 10em;
    height: 10em;
    margin: 1em;
    cursor: pointer;

    img {
      max-width: 100%;
    }
  }
}

.scene {
  width: 512px;
  height: 512px;
  position: relative;
  display: block;
  background: $color-white;
  box-shadow: 0 0 0 .2em $color-pacific;

  &.selected {
    box-shadow: 0 0 0 .2em $color-corail;
  }

  &.big {
    margin: 1.5em auto;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tool{
  .dropzone {
    width: 10em;
    height: 10em;
    background: transparent none;
    color: $color-pacific;
    padding: 0;
    border: 2px solid $color-pacific;
    position: relative;
    display: flex;
    align-items: center;

    .dz-message {
      margin: .5em;
    }

    .dz-preview {
      display: none !important;
    }

    #preview {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background-size: cover;
      background-position: center;
    }
  }
}

.render {
  margin: 1.5em auto;
  background: $color-white;
}

button {
  border: 1px solid $color-corail;
  background: none;
  color: $color-corail;
  text-transform: uppercase;
  padding: 6px 10px;
  cursor: pointer;

  &[disabled] {
    color: $color-grey;
    border-color: $color-grey;
  }
}
