body
{
	height: 100%;
	width: 100%;
	background: url("/assets/images/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	position: absolute;
	
	color:#ffffff;
	font-family: sans-serif;
	font-size:12pt;
}

#content
{
	max-width: 1000px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #c94e34;
	padding: 25px;
}

.logo-desc
{
	display: block;
	text-align: center;
	margin-bottom:40px;
}

.page-icon
{
	text-align:center;
	max-width:160px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;

	color:#ffffff;
	text-decoration: none;
}

.page-icon:hover
{
	color:#ffffff;
	text-decoration: none;
}

.page-icon:visited
{
	color:#ffffff;
	text-decoration: none;
}

.page-icon .icon
{
	background-color:#ffffff;
	border-radius: 5px; 
	width: 160px; 
	line-height: 160px;
	box-shadow: 0px 6px 0px #bbbbbb;
	margin-bottom:10px;
}

.page-icon .icon .helper {
	display: inline-block;
}

.page-icon .icon .helper img
{
	max-height: 100px;  
	max-width: 100px;
	vertical-align:middle;
}

.screenshot
{
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	border:1px solid #000000;
}

h2
{
	font-weight: 500;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size:200%;
	text-align:left;
	border-bottom:1px solid #ffffff;
}

p
{
	font-size: 18px;
	text-align: justify;
	margin: 16px 0 16px;
	padding-right: 30px;
	padding-left: 30px;
}

#index-logo-frame
{
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	height: 400px;
	overflow: hidden;
}

#index-logo {
	max-width: 400px;
	display: block;
}
