---
---

// variables
@import 'variable/color';
@import 'variable/font';

// base and init
@import 'base/fontface';

// UI element
@import 'element/loader';


// TODO: cut it in partials

*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw + .6em);
  line-height: 1.2em;
}

body {
	height: 100%;
	width: 100%;
	background: url("../images/bg.jpg");
  background-color: #ccc;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	position: relative;
	color: $color-white;
	font-family: $font-standard;
  padding: 3.5rem 1rem;
  line-height: 1.5rem;
}

.wrap {
	max-width: 40rem;
	margin: 0 auto;
	padding: 1.5rem;
	background-color: $color-white;
  color: $color-text;

  &-home {
	  background-color: $color-corail;
    color: $color-white;
  }
}

.logo-desc {
  display: block;
  text-align: center;
}

.navicons {
  padding: 0;
  margin: 0;
  text-align: center;

  > li {
    display: inline-block;
    vertical-align: top;
  }
}

.page-icon {
  text-align: center;
  max-width: 10rem;
  display: block;
  margin: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-size: .7em;
  line-height: 1.5em;

  &:visited,
  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  > .icon {
    background-color: $color-white;
    border-radius: 5px;
    width: 160px;
    line-height: 160px;
    box-shadow: 0px 6px 0px #bbbbbb;
    margin: 0 auto 1em;

    > img {
      display: inline-block;
      max-height: 100px;
      max-width: 100px;
      vertical-align: middle;
    }
  }
}

.tuto {
  max-width: 30em;
  margin: 0 auto;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #000000;
  }
}

.tool {
  counter-reset: tool-step;

  &-header {
    display: block;
    text-align: center;
  }

  &-step {
    counter-increment: tool-step;

    &-title {
      &:before {
        content: counter(tool-step);
        color: $color-corail;
        display: inline-block;
        font-weight: bold;
        margin-right: .5em;
      }
    }
  }
}

h1 {
  font-family: $font-calligraphic;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 2rem 0 1.5rem;
  line-height: 1.2em;
}

h2 {
	margin: 3rem 0 1.5rem;
	padding-bottom: .5rem;
	font-size: 1.6rem;
	text-align: left;
	border-bottom: 1px solid $color-corail;
	font-weight: bold;
  line-height: 1.2em;
}

h3 {
	margin: 3rem 0 1.5rem;
	font-size: 1.4rem;
	text-align: left;
	font-weight: bold;
  line-height: 1.2em;
}

p {
	margin: 1.5rem 0;
  line-height: 1.5em;
}

#index-logo-frame {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
}

#index-logo {
  max-width: 400px;
  display: block;
}

ul.inline {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;

  .modeles {
    background: #ccc;
    width: 10em;
    height: 10em;
    margin: 1em;
    cursor: pointer;

    img {
      max-width: 100%;
    }
  }
}

.scene {
  width: 30rem;
  height: 30rem;
  position: relative;
  display: block;
  background: $color-white;
  box-shadow: 0 0 0 .2em $color-pacific;

  &.selected {
    box-shadow: 0 0 0 .2em $color-corail;
  }

  &.big {
    margin: 1.5em;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tool{
  .dropzone {
    width: 10em;
    height: 10em;
    background: transparent none;
    color: $color-pacific;
    padding: 0;
    border: 2px solid $color-pacific;
    position: relative;
    display: flex;
    align-items: center;

    .dz-message {
      margin: .5em;
    }

    .dz-preview {
      display: none !important;
    }

    #preview {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background-size: cover;
      background-position: center;
    }
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-corail;
  z-index: 10;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateY(-100%);
  transition: .3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.open {
    transform: translateY(0);
  }
}

button {
  border: 1px solid $color-corail;
  background: none;
  color: $color-corail;
  text-transform: uppercase;
  padding: 6px 10px;
  cursor: pointer;

  &[disabled] {
    color: $color-grey;
    border-color: $color-grey;
  }
}
