---
---

body {
	height: 100%;
	width: 100%;
	background: url("../images/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	position: relative;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 12pt;
}

#content {
	max-width: 1000px;
  width: 90%;
	margin: 3.5rem auto;
	background-color: #c94e34;
	padding: 1.5rem;
}

.logo-desc {
	display: block;
	text-align: center;
}

.navicons {
  padding: 0;
  margin: 0;
  text-align: center;

  > li {
    display: inline-block;
  }
}

.page-icon {
	text-align: center;
	max-width: 10rem;
	display: block;
	margin: 2rem 1rem;
	color: #ffffff;
	text-decoration: none;

  &:visited,
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }

  >.icon {
    background-color:#ffffff;
    border-radius: 5px;
    width: 160px;
    line-height: 160px;
    box-shadow: 0px 6px 0px #bbbbbb;
    margin-bottom:10px;

    > img {
      display: inline-block;
      max-height: 100px;
      max-width: 100px;
      vertical-align: middle;
    }
  }
}

.screenshot {
  max-width: 40rem;
	width: 100%;
  height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid #000000;
}

h2 {
	font-weight: 500;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 200%;
	text-align: left;
	border-bottom: 1px solid #ffffff;
}

p {
	font-size: 18px;
	text-align: justify;
	margin: 16px 0 16px;
	padding-right: 30px;
	padding-left: 30px;
}

#index-logo-frame {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	height: 400px;
	overflow: hidden;
}

#index-logo {
  max-width: 400px;
  display: block;
}

.dropzone .dz-preview {
  display: none !important;
}

ul.inline {
  display: flex;
  list-style-type: none;
}

#scene {
  width: 512px;
  height: 512px;
  position: relative;
  display: block;

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
  }
}

body .dropzone {
  width: 150px;
  height: 150px;
  background: none;
  background: transparent;
  color: white;
}
