<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include meta.html %}
	  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    {% if page.stylesheet %}
      {% for  style in page.stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ style }}" />
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="nav">
      <a class="nav-toggle">Menu</a>
      <nav id="navigation" class="nav-pan">
        <ul class="nav-list">
          {% for c in site.collections %}
            {% if c.label != 'posts' %}
              <li class="nav-list-group">
                {{c.title}}
                <ul class="nav-sublist">
                  {% for p in c.docs %}
                    <li>
                      <a class="nav-item" href="{{ p.url | relative_url }}">
                        <img class="nav-icon" src="/assets/images/icons/{{p.icon}}" />
                        {{p.title}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="wrap {{ page.wrapClass }}">
      {{ content }}
    </div>
    {% if page.footerScript %}
      {% for  script in page.footerScript %}
        <script src="{{ script }}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
