<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include meta.html %}
    {% if page.stylesheet %}
      {% for  style in page.stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ style }}" />
      {% endfor %}
    {% endif %}
	  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  </head>
  <body>
    {% if layout.navigation == true %}
    {% include nav.html %}
    {% endif %}
    <div id="main" class="wrap {{ page.wrapClass }}">
      {{ content }}
    </div>
    <footer class="footer">Site à l’initiative de citoyens insoumis</footer>
    {% if page.footerScript %}
      {% for  script in page.footerScript %}
        <script src="{{ script }}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
